* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 1000px;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
}

.add-container {
  height: 60px;
  display: flex;
  align-items: center;
}

.event-table tr {
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.event-table th {
  text-align: left;
  background-color: rgb(192, 202, 240);
  padding: 0 20px;
}

.event-table td {
  padding: 0 20px;
}

.event-table th:last-child {
  text-align: center;
}

.event-table td input {
  padding: 5px 10px;
}

button {
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  color: rgb(44, 163, 202);
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background-color: transparent;
}
