.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ffffff;
    font-size: 1rem;
    display: flex;
  }
  .logo{
     width: 2.5em;
     display: block;
     margin-left: 40px;
   }
  .app-header__navtext {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  
  .app-header__navtext a {
    margin: 0px 20px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .app-header__navtext a:hover {
    color: rgb(255, 208, 0)
  }