* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --button-blue: rgba(0, 128, 187, 0.856);
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  margin: 1rem;
}

.counter{
  background-color: white;
  color: var(--button-blue);
  padding: 10px;
  font-weight: bold;
}

.add-new-btn-container{
  background-color: white;
  padding: 10px;
  border-bottom: 2px solid lightgray;
  justify-content: left;
}

.event-btn, .add-new-btn{
  padding: 1rem;
  color: var(--button-blue);
  font-weight: bold;
}

.event-btn{
  border-right: 2px solid lightgray;
}

.events-header-container, .upcoming-header-container{
  padding: 1rem ;
  background-color: rgb(205, 233, 255);
  border-bottom: 2px solid lightgray;
}

.events-header-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem ;
}

.upcoming-header-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem ;
}

.col-header{
  text-align: start;
}

.action-header{
  margin-right: 4.5vw;
  text-align: end;
}

table{
  width: 100%;
}

#eventlist-container{
  background-color: white;
}

.tr-index, .tr-upcoming{
  padding: 1rem;
  border-bottom: 2px solid lightgray;
}

.tr-index{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem ;
}

.tr-upcoming{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem ;
}

.input-box{
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 0 3px;
}

.action-btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons{
  background-color: white;
  color: var(--button-blue);
  font-weight: bold;
}

.add-new-btn:hover, .buttons:hover{
  cursor: pointer;
}

:disabled{
  cursor: not-allowed;
}