.btn{
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    color: rgb(7, 143, 189);
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background: transparent;
}