.footer {
    background-color: black;
    color: white;
    padding: 50px 0;
    font-family: "Roboto", Helvetica, serif;
  }
  
  .footer h3,
  .footer h4 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  } 
  .media-links{
    display: flex;
    margin: auto;
    width: 30%;
    justify-content: space-around;
  }
  .media-links-icon img {
    width: 40px;
    background-color: #8a8a8a;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }

  .media-links-icon img:hover {
    background-color: white;
  }
 .portfolio-item a{
   color: white;
   text-decoration: none;
 }
 h4 a{
   color: white;
   text-decoration: none;
 }
.wrapper{
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-around;
  padding: 5rem 0;
}

ul li{
  list-style-type: none;
}

ul li a{
  color: white;
  text-decoration: none;
}


@media only screen and (max-width: 420px) {
 .wrapper{
   width: 100%;
 }
 .banner-buttons .btn-border, .submit-contact .btn-border, .projects .btn-border {
  width: 100px;
}
.media-links{
  width: 70%;
}
}